<h2 class="text-center my-4 pt-5">Informacion de tu Compra</h2>
{{> nav}}
<div
    class="table-responsive mx-auto my-4 text-center"
    style="max-width: 800px;"
  >
<p>Codigo del ticket: <b>#{{ticket.payload.code}}</b></p>
<p>Fecha y hora de la compra: {{ticket.payload.purchase_datetime}}</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Productos</th>
      <th>Categoria</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
    </tr>
  </thead>
  <tbody>
    {{#each ticket.payload.products}}
      <tr>
        <td>{{this.id.title}}</td>
        <td>{{this.id.category}}</td>
        <td>{{this.quantity}}</td>
        <td>${{this.id.price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p><b>TOTAL ABONADO</b>: ${{ticket.payload.amount}}</p>

</div>
<script src="/public/js/index2.js"></script>